<div class="main users-new">
  <div class="container">
    <div class="form-heading">Login</div>
    <div class="form users-form-all">
      <div class="form-body">
        <%= form_tag("/login") do %>
          <p>JP Online account (email)</p>
          <input name="email" type="email" value="<%= @email %>">
          <p>password</p>
          <input type="password" name="password" value="<%= @password %>">
          <input type="submit" value="Login" class="btn">
        <% end %>
      </div>
      <div class="form users-form">
      <h4>If you don't have JP Online account, please Signup for  <%= link_to("this page", "/signup") %></h4>
      </div>
    </div>
    </div>
  </div>
</div>
