<div class="main-back">

<div class="top-main">
  <div class="top-message">
    <h2>JP Online</h2>
  </div>
</div>

<div class="about-main">
  <h2>About us</h2>
  <p>
    Nice to meet you. It's JP Online. And my name is Coco. 
  <br>&nbsp;&nbsp;&nbsp;I started an online lesson in Japanese.Becouse I'm a third year of university, and my major is Department of Japanese and Japanese Language Education. So I want to disseminate Japan by take advantage of my expertise.This is my challenge. I want to provide an opportunity to learn Japanese.
  Have you ever wanted to learn Japanese? Are you interested in Japan? Do you have any problems with Japanese?
  I have been waiting for Japanese learners who full of enthusiasm. 
  <br>&nbsp;&nbsp;&nbsp;If you interested in, please let me know and take a trial lesson.
  Please check this instagram hashtag.<span>#jponlineclass</span>
  Thank you very much for reading to the end. Have a good day.
  <br>&nbsp;Coco.
  </p>
</div>

<div class="lessnos-about-main">
  <h2>Lesson detail</h2>
  <div class="trial-lesson-about">
    <h3><br>Trial lesson</h3>
    <p>
    content: Basics of Japanese（number,date,month,money...）
    <br>application: zoom
    <br>time: 45minutes
    <br>cost: $5（USD）/ 500yen（JPY）
    <br>payment:PayPal or Transfer Wise
    </p>
  </div>
  <div class="regular-lesson-about">
    <h3>Regular course</h3>
    <p>
    Coco’s class
    <br>It’s like a Japanese language school.
    <br>time is 60 minutes. $20 an hour.
    <br>I have a dvaluable plan!
    <br>If you monthly contract with me, you will get discount!
    <br>○4 times a month     
    <br>&nbsp;&nbsp;&nbsp;$&nbsp;80→ $72&nbsp;&nbsp;&nbsp;1hour
    <br>○8 times a month     
    <br>&nbsp;&nbsp;&nbsp;&nbsp;$160→ $125&nbsp;&nbsp;&nbsp;1hour
    </p>
  </div>
</div>

<div class="top-instagram">
</div>

</div>

