
<h1><%= @user.name %>, you successfully signup JP Online</h1>

<p>Thank you for signup to JP Online.</p>
<p>JP Online account(email): <%= @user.email %></p>
<p>Your time zone: <%= @user.time_zone %></p>
<p>You can edit your information at any time in your profile. If you want to edit, please click your name in header.</p>
<p>Let's take our lessons!!</p>