<div class="lessnos-about-main">
  <h2>Lesson detail</h2>
  <div class="trial-lesson-about">
    <h3><br>Trial lesson</h3>
    <p>
    content: Basics of Japanese（number,date,month,money...）
    <br>application: zoom
    <br>time: 45minutes
    <br>cost: $5（USD）/ 500yen（JPY）
    <br>payment:PayPal or Transfer Wise
    </p>
    <%= link_to("Book Trial lesson", "/lessons/trial") %>
  </div>
  <div class="regular-lesson-about">
    <h3>Regular course</h3>
    <p>
    Coco’s class
    <br>It’s like a Japanese language school.
    <br>time is 60 minutes. $20 an hour.
    <br>I have a dvaluable plan!
    <br>If you monthly contract with me, you will get discount!
    <br>○4 times a month     
    <br>&nbsp;&nbsp;&nbsp;$&nbsp;80→ $72&nbsp;&nbsp;&nbsp;1hour
    <br>○8 times a month     
    <br>&nbsp;&nbsp;&nbsp;&nbsp;$160→ $125&nbsp;&nbsp;&nbsp;1hour
    </p>
    <%= link_to("Book Regular lesson", "/lessons/regular") %>
  </div>
</div>