// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    box-sizing: border-box;
  }

  html {
    font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
  }

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none ;
    font-size: 14px;
    color: #2d3133;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  p {
    font-weight: 900;
  }

  input {
    background-color: transparent;
    outline-width: 0;
  }

  /* 共通レイアウト ================================ */

  body {
    margin: 0;
    height: 100vh;
    color: #2d3133;
    background-color:white;
  }

  /* ヘッダー ================================ */

  header {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #ffffff;
    border-bottom: #bcc8d4 solid 1px ;
  }

  .header-logo {
    float: left;
    padding-left: 20px;
    line-height: 64px;
    font-size: 22px;
    font-weight: 900;
  }

  .header-logo a{
    font-size: 22px;
    color: rgb(255, 110, 52);
  }

  .header-menus {
    float: right;
    padding-right: 20px;
  }

  .header-menus li {
    float: left;
    padding-left: 15px;
    line-height: 64px;
    font-size: 13px;
    font-weight: 700;
  }

  .header-menus a {
    float: left;
    font-size: 13px;
    color:rgb(255, 110, 52);
  }

  .header-menus .fa {
    padding-right: 5px;
  }

  .header-menus input[type="submit"] {
    float: left;
    margin: 0;
    padding: 0 20px;
    line-height: 64px;
    font-size: 13px;
  }


  /* トップ画面 ======================= */

  .main-back:before {
    content:"";
    position:fixed;
    top:0;
    left:0;
    z-index:-2;
    display:block;
    width:100%;
    height:100vh;
    background:url("/class_image.png") center no-repeat;
    background-size:cover;
  }

  .main-back {
    color: white;
  }

  .top-main {
    padding: 500px 0 500px;
    width: 100%;
    height: 500px;
    min-height: 50%;
    text-align: center;

  }

  .top-main h2 {
    font-size: 70px;
    font-weight: 00;
    line-height: 1.3;
  }

  .about-main {
    padding: 650px 0 500px 0;
  }

  .about-main h2 {
    padding-left: 5%;
    line-height: 1.4;
    font-size: 100px;
    font-weight: 500;
  }

  .about-main p {
    margin: 20px 5% 0 5%;
    font-size: 20px;
  }

  .about-main span {
    color: rgb(3, 101, 126);
  }

  /* レッスン詳細( top.html.erb と about.html.erb ) ===================== */

  .lessnos-about-main {
    padding: 150px 5% 0 5%;
  }

  .lessnos-about-main h2 {
    font-size: 100px;
    font-weight: 500;
  }

  .lessnos-about-main h3 {
    margin: 50px 5% 0 5%;
    font-size: 30px;
  }

  .lessnos-about-main p {
    margin: 20px 10% 0 10%;
    font-size: 20px;
  }

  .lessnos-about-main a {
    cursor: pointer;
    margin: 30px auto 0 auto ;
    padding: 10px 10px;
    display: block;
    width: 180px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
  }

  .regular-lesson-about {
    padding:100px 0 100px 0;
  }

  /* ユーザーページ ====================== */

  .users-back {
    position: absolute;
    margin-top: 64px;
    width: 100%;
    min-height: 100%;
    color: white;
    background:linear-gradient(rgb(255, 110, 52),rgb(252, 135, 246));
  }

  .users-container {
    max-width: 600px;
    margin: 60px auto;
  }

  .form-heading {
    margin: 60px 0 20px;
    font-size: 48px;
    font-weight: 700;
  }

  .form-body {
    padding: 30px;
    font-weight: 900;
  }

  .form-error {
    color: black;
  }

  .form input {
    margin-bottom: 50px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    letter-spacing: 2px;
    color: #57575f;
  }

  .form input:focus {
    background-color: none;
    color : white;
  }

  .form input[type="submit"] {
    cursor: pointer;
    float: right;
    margin-top: 10px;
    width: 250px;
    border-radius: 4px;
    font-weight: 300;
    background-color: white;
  }

  .form-error {
    color: black;
  }

  .users-form {
    text-align: center;
  }

  .users-form h4{
    margin-top: 100px;
    font-weight: lighter;
    font-size: 12px; 
    color: white;
  }

  .users-form a {
    text-decoration: underline;
    font-size: 12px;
    color: rgb(0, 136, 170);
  }

  /* レッスン予約ページ(カレンダー) ========================== */
  
  .calendar-heading {
    text-align: center;
  }

  .move {
    text-decoration: underline;
    color: white;
  }

  .schedule {
    height: 100vh;
    padding-top: 100px;
    color:white;
    background-color: rgb(133, 151, 147);
  }

  .schedule h2 {
    padding-left: 5%;
    line-height: 1;
    font-size: 100px;
    font-weight: 500;
  }

  .lessons-calendar {
    margin: 100px 20% 0 20%;
    padding-bottom: 100px;
  }

  .lessons-calendar span {
    margin: 0 10px;
    font-size: 40px;
  }

  .lessons-calendar a {
    cursor: pointer;
    display: inline;
    padding: none;
    border-radius: 4px;
    background-color: none;
  }

  .calendar-schedule {
    text-decoration: underline;
    color: rgb(83, 207, 216);
  }

  .calendar-schedule-booked {
    font-size: 14px;
    color: black;
  }

  /* レッスン予約確認ページ ========================== */

  .lessons-back {
    position: absolute;
    margin-top: 64px;
    width: 100%;
    min-height: 100vh;
    color: white;
    background-color: rgb(133, 151, 147);
  }

  .lessons-container {
    margin: 60px auto;
    max-width: 600px;
  }

  .booking-input {
    cursor: pointer;
    margin: 30px auto 0 auto;
    display: block;
    padding: 10px 10px;
    width: 180px;
    border-radius: 4px;
    text-align: center;
    background-color: white;
  }

  /* ユーザー情報の下の確認テスト一覧 ======================= */

  .feedback-list h2 {
    margin: 100px 0 20px;
    font-size: 48px;
    font-weight: 700;
  }

  .feedback-list-item a {
    padding: 30px;
    display: block;
    width: 100%;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    border-right: none;
    border-left: none;
    font-weight: 900;
    color: white;
  }

  /* 確認テスト画面 ================= */

  .feedback-question {
    margin: 100px 5px 30px 0;
    border-bottom: 1px solid #ffffff;
  }

  .feedback input[type="submit"] {
    cursor: pointer;
    margin: 100px auto 0 auto ;
    display: block;
    padding: 10px 10px;
    width: 180px;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 14px;
    background-color: white;
  }

  /* フィードバック(テスト結果) ================= */

  .feedback-result {
    text-align: center;
  }

  .feedback-result h2 {
    font-size: 200px;
  }

  .feedback-result p {
    font-size: 40px;
  }

    /* フラッシュ　=========================== */

    .flash {
      position: absolute;
      top: 64px;
      width: 100%;
      z-index: 1;
      padding: 10px 0;
      text-align: center;
      font-size: 14px;
      color:rgb(255, 255, 255);
      background: rgb(73, 73, 73);
    }
  
    
