// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    box-sizing: border-box;
  }

  html {
    font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
  }

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none ;
    color: #2d3133;
    font-size: 14px;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  p {
    font-weight: 900;
  }

  input {
    background-color: transparent;
    outline-width: 0;
  }

  /* 共通レイアウト ================================ */
  body {
    color: #2d3133;
    background-color:white;
    margin: 0;
    height: 100vh;
  }

  /* ヘッダー ================================ */
  header {
    height: 64px;
    position: absolute;
    z-index: 1;
    width: 100%;
    border-bottom: #bcc8d4 solid 1px ;
    background-color: #ffffff;
  }

  .header-logo {
    float: left;
    padding-left: 20px;
    color: rgb(255, 110, 52);
    font-size: 22px;
    line-height: 64px;
    font-weight: 900;
  }

  .header-logo a{
    color: rgb(255, 110, 52);
    font-size: 22px;
  }

  .header-menus {
    float: right;
    padding-right: 20px;
  }

  .header-menus li {
    float: left;
    line-height: 64px;
    font-size: 13px;
    color:rgb(255, 110, 52);
    padding-left: 15px;
    font-weight: 700;
  }

  .header-menus a {
    float: left;
    font-size: 13px;
    color:rgb(255, 110, 52);
  }

  .header-menus .fa {
    padding-right: 5px;
  }

  .header-menus input[type="submit"] {
    padding: 0 20px;
    float: left;
    line-height: 64px;
    color:rgb(255, 110, 52);
    margin: 0;
    font-size: 13px;
  }


  /* top ====== About us と Lesson detail */

  .main-back:before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background:url("/class_image.png") center no-repeat;
    background-size:cover;
  }

  .main-back {
    color: white;
  }

  .top-main {
    padding: 500px 0 500px;
    text-align: center;
    width: 100%;
    height: 500px;
    min-height: 50%;
  }

  .top-main h2 {
    font-size: 70px;
    font-weight: 00;
    line-height: 1.3;
  }

  .about-main {
    padding: 650px 0 500px 0;
  }

  .about-main h2 {
    font-size: 100px;
    font-weight: 500;
    line-height: 1.4;
    padding-left: 5%;
  }

  .about-main p {
    margin: 20px 5% 0 5%;
    font-size: 20px;
  }

  .about-main span {
    color: rgb(3, 101, 126);
  }

  .lessnos-about-main {
    padding: 150px 5% 0 5%;
  }

  .lessnos-about-main h2 {
    font-size: 100px;
    font-weight: 500;
  }

  .lessnos-about-main h3 {
    font-size: 30px;
    margin: 50px 5% 0 5%;
  }

  .lessnos-about-main p {
    font-size: 20px;
    margin: 20px 10% 0 10%;
  }

  .lessnos-about-main a {
    text-align: center;
    width: 180px;
    display: block;
    padding: 10px 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    margin: 30px auto 0 auto ;
  }

  .regular-lesson-about {
    padding:100px 0 100px 0;
  }

  /* userページ */

  .users-back {
    position: absolute;
    margin-top: 64px;
    width: 100%;
    height: 100vh;
    color: white;
    background:linear-gradient(rgb(255, 110, 52),rgb(252, 135, 246));
  }

  .users-container {
    max-width: 600px;
    margin: 60px auto;
  }

  .form-heading {
    margin: 60px 0 20px;
    font-size: 48px;
    font-weight: 700;
  }

  .form-body {
    padding: 30px;
    font-weight: 900;
  }

  .form-error {
    color: black;
  }

  .form input {
    width: 100%;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    color: #57575f;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }

  .form input:focus {
    background-color: none;
    color : white;
  }

  .form input[type="submit"] {
    background-color: white;
    cursor: pointer;
    font-weight: 300;
    width: 250px;
    border-radius: 4px;
    margin-top: 10px;
    float: right;
  }

  .form-error {
    color: black;
  }

  .users-form {
    text-align: center;
  }

  .users-form h4{
    margin-top: 100px;
    font-weight: lighter;
    color: white;
    font-size: 12px; 
  }

  .users-form a {
    text-decoration: underline;
    font-size: 12px;
    color: rgb(0, 136, 170);
  }

  /*lesson 予約ページ*/
  .lessons-back {
    position: absolute;
    margin-top: 64px;
    width: 100%;
    height: 100vh;
    color: white;
    background:linear-gradient(rgb(187, 53, 0),rgb(172, 98, 168));
  }

  .lessons-container {
    max-width: 600px;
    margin: 60px auto;
  }

  .booking-input {
    text-align: center;
    width: 180px;
    display: block;
    padding: 10px 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    margin: 30px auto 0 auto;
  }
  
  /* フラッシュ */
  .flash {
    padding: 10px 0;
    color:rgb(255, 255, 255);
    background: rgb(73, 73, 73);
    text-align: center;
    position: absolute;
    top: 64px;
    z-index: 10;
    width: 100%;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
  }

  /*カレンダー*/

  .calendar-heading {
    text-align: center;
  }

  .move {
    color: white;
    text-decoration: underline;
  }

  .schedule {
    background-color: #57575f;
    padding-top: 100px;
    color:white;
    height: 100vh;
  }

  .schedule h2 {
    font-size: 100px;
    font-weight: 500;
    line-height: 1;
    padding-left: 5%;
  }

  .lessons-calendar {
    margin: 30px 10% 0 10%;
    padding-bottom: 100px;
  }

  .lessons-calendar span {
    font-size: 40px;
    margin: 0 10px;
  }

  .lessons-calendar a {
    display: inline;
    padding: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: none;
  }

  .calendar-schedule {
    color: rgb(83, 207, 216);
    text-decoration: underline;
  }

  .calendar-schedule-booked {
    color: black;
    font-size: 14px;
  }


