<h1>Booking trial lesson is not completed</h1>
<p>We will send you email as soon as we decide your payment details by "PayPal". Please wait a while for the payment details.</p>
<p>If your trial booking time exceeds the maximum allowed, we regards this lesson as "Regular lesson"</p>
<p>~ Lesson details ~</p>
<p>Teacher: <%= @lesson.teacher_name %></p> 
<p>Student: <%= @lesson.user_name %></p>
<p>Course: Trial</p>
<p>Start time: <%= @lesson.start_time.strftime("%d/%m/%Y %H:%M)") %> ~ </p>


